* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(black, gray);
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.evildead {
  background: url('https://img.discogs.com/J1GELHH2a2R1bjXFgFSohs0UYX4=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-564493-1355684645-1963.jpeg.jpg')
    no-repeat;
  margin: auto;
}

.evildead2 {
  border: solid red;
  text-align: center;
  color: white;
  background: black;
}

#mainImage,
.evildead2,
#box3,
#box4,
#box5,
#box6 {
  height: 500px;
  width: 500px;
  margin: 20px;
}

#box1 {
  background: chartreuse;
}

img {
  height: 100%;
  max-width: 100%;
}

#box2 {
  background: red;
}

#box3 {
  background: yellow;
}

#box4 {
  background: blue;
}

#box5 {
  background: purple;
}

#box6 {
  background: rosybrown;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 20px;
  color: red;
  text-shadow: 2px 2px #ffe8e8;
}

@media (max-width: 375px) {
  #box1,
  #box2,
  #box3,
  #box4,
  #box5,
  #box6 {
    height: 325px;
    width: 325px;
  }
}
